<!DOCTYPE html>
<html>
<head>
  <title>Happy Birthday!</title>
  <link rel="stylesheet" type="text/css" href="static/success.css">
</head>
<body>
  <div class="container">
    <div class="header">
      <h1 class="title">Happy Birthday Harshita</h1>
    </div>
    <div class="myGIF">
      <img src="./static/gif.gif" width="150px" frameBorder="0" noControls>
      <img src="./static/gif.gif" width="30px" frameBorder="0" noControls>
      <img src="./static/gif.gif" width="80px" frameBorder="0" noControls>
      <img src="./static/gif.gif" width="50px" frameBorder="0" noControls>
    </div>
    <div class="content">
      <div class="card">
        <!--<img src="balloons.jpg" alt="balloons" class="card-img">-->
        <iframe src="https://giphy.com/embed/onPMdPD9wI4rWA6KaT" width="294" frameBorder="0" class="giphy-embed" noControls></iframe>
        <div class="card-content">
          <p>To my person, my Mausam❤️</p>
          <p>Today is your special day and I want to wish you all the happiness in the world. You are an amazing person and I feel so blessed to have you in my life. You have always been there for me through the good times and the bad, and I will always be grateful for your friendship. </p>
          <p>Let's celebrate this day and make it one to remember. Cheers to another year of laughter, memories, and adventures. </p>
          <p>Happy birthday, Mausammmmmm you're Awesomeee!. <h4>~shreyash.</h4></p>
        </div>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
  <script>
    const title = document.querySelector('.title');
    let text = title.textContent;
    title.textContent = "";
    for (let i = 0; i < text.length; i++) {
        let char = document.createElement("span");
        char.textContent = text[i];
        char.style.animation = `animation-char ${Math.random()*2 + 1}s ease forwards`;
        title.append(char);
    }
    title.style.opacity = 1;

    @keyframes animation-char {
        0% {
            transform: translateY(-50px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
</script>

</body>
</html>
